<div class="budget-decking-container">
<div class="description-box">
<h1>Budget decking</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae enim fugiat explicabo quae repellat aspernatur quia? Esse provident eaque quaerat eius, earum sit quasi nisi expedita. Eum eius libero eligendi laborum aspernatur praesentium minus vero hic nam unde necessitatibus corporis, tempore provident quidem dignissimos sunt porro facere, accusamus facilis?</p>
</div>
<div class="image-box">Image</div>
</div>

