.decking-background-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .budget-decking {
    width: 80%;
    height: 100px;
    background-image: url(logo/budget.png);
    background-size: center/cover;
    background-repeat: no-repeat;

  }
  .decking-types {
    list-style: none;
    height: 100px;
    width: 100px;
    .decking-items {
      
    }
  }
  

}
