<div class="footer">
  <ul class="social-media-box">
    <li class="social-media facebook"><i class="fab fa-facebook-square"></i></li>
    <li class="social-media twitter"><i class="fab fa-twitter-square"></i></li>
    <li class="social-media instagram"><i class="fab fa-instagram"></i></li>
  </ul>
</div>
