            
            <div class="decking-background-box">
                <div class="decking-items ">
                    <div class="budget-decking">
                        <%= link_to "BUDGET", deckings_budget_decking_path, class:"decking-items-overlay" %>
                    </div>
                </div>
                <div class="decking-items">
                    <div class="softwood-decking">
                        <%= link_to "SOFTWOOD", deckings_softwood_decking_path, class:"decking-items-overlay" %>
                    </div>
                </div>
                <div class="decking-items">
                    <div class="hardwood-decking">
                        <%= link_to "HARDWOOD", deckings_hardwood_decking_path, class:"decking-items-overlay" %>
                    </div>
                </div>
                <div class="decking-items">
                    <div class="composite-decking">
                        <%= link_to "COMPOSITE", deckings_composite_decking_path, class:"decking-items-overlay" %>
                    </div>
                </div>
            </div>