            
            <div class="decking-background-box">
                <div class="decking-items budget-decking">Budget</div>
                <div class="decking-items softwood-decking">Softwood</div>
                <div class="decking-items hardwood-decking">Hardwood</div>
                <div class="decking-items composite-decking">Composite</div>
            </div>