            
            <div class="decking-background-box">
                <div class="decking-items ">
                    <div class="budget-decking">
                        <div class="decking-items-overlay">BUDGET</div>
                    </div>
                </div>
                <div class="decking-items">
                    <div class="softwood-decking">
                        <div class="decking-items-overlay">SOFTWOOD</div>
                    </div>
                </div>
                <div class="decking-items">
                    <div class="hardwood-decking">
                        <div class="decking-items-overlay">HARDWOOD</div>
                    </div>
                </div>
                <div class="decking-items">
                    <div class="composite-decking">
                        <div class="decking-items-overlay">COMPOSITE</div>
                    </div>
                </div>
            </div>