            
            <div class="decking-background-box">
                <ul class="decking-types">
                    <% @decking_types.each do |decking| %>
                        <li class="decking-item"><%= image_tag decking %></li>
                    <% end %>
                </ul>
            </div>