<div class="banner">
    <div class="banner-overlay">
        <%= link_to pages_new_path, class:"quote-btn" do %>
            <h2>Get a Quote</h2>
        <% end %>
    </div>
</div>

<div class="about-container">
    <div class="about-content-box">
        <h2>Our Team</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente ipsa cumque totam enim voluptatum temporibus alias perferendis autem similique qui commodi vel, maiores aspernatur reiciendis velit culpa ad sint sit.</p>
    </div>
    <div class="about-content-box">
        <h2>Our Services</h2>
        <div class="services-list">
                <li class="services-items" ><h3>Decking Design</h3></li>
                <li class="services-items" ><h3>Budget Decking</h3></li>
                <li class="services-items" ><h3>Softwood Decking</h3></li>
                <li class="services-items" ><h3>Hardwood Decking</h3></li>
                <li class="services-items" ><h3>Composite Decking</h3></li>
        </div>
    </div>
    <div class="about-content-box right-box">
        <h2>Our Goal</h2>
    </div>
</div>
<div class="types-of-decking">
</div>