.logo-container {
  position: absolute;
  
}

.navbar-box {
  background: $background-component;
  display: flex;
  justify-content: space-around;
  .logo {
    height: 70px;
    
  }
  .box-column {
    display: flex;
    align-items: center;
    justify-content: center;
      .navbar-links {
        color: $text-color;
        padding: 20px 25px;
       
        &:hover {
          text-decoration: none;
          color: $text-color-hover;
          background:$background-component-hover;
        }
      }
  }

  .left-navbar-box {
    width: 40%;
    font-family: 'Acme', sans-serif;
    font-size: 1.3rem;

  }
  .right-navbar-box {
    width: 40%;
    font-family: 'Acme', sans-serif;
    font-size: 1.3rem;
 
  }

}

