$text-color: rgb(191, 144, 100);
$text-color-hover: rgb(164, 151, 142);
$background-component: rgb(82, 91, 86);
$background-component-hover: rgb(19, 34, 39);
.maincolors {
  color: rgb(4, 12, 14);
}

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import "bootstrap/scss/bootstrap";

//pages style sheets

@import "pages/index.scss";

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background: $text-color-hover;

}

.container-body {
  width: 100%;
  height: 88vh;
  margin: 0 auto;
}
