.budget-decking-container {
  display: flex;
  .description-box {
    background: green;
    width: 50%;
  
  }
 .image-box{
  height: 450px; 
  width: 50%;
  background-image: url(/images/deckings/budget/18.jpg);
  a {
    height: 100%;
   }
 } 
}
